Assignment 1 (Fact Filter)

Name- Samarth Sharma Bhardwaj

Roll no- 230903

In [2]:
import pandas as pd #Imports panda library

In [3]:
#Load datasets
train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')

In [4]:
#Merging the datasets
merged_df = pd.concat([train_df, test_df], ignore_index = True)

In [6]:
#Displaying the first 10 rows of the combined data frame
print(merged_df.head(10))

   Class Index                                              Title  \
0            3  Wall St. Bears Claw Back Into the Black (Reuters)
1            3  Carlyle Looks Toward Commercial Aerospace (Reu...
2            3    Oil and Economy Cloud Stocks' Outlook (Reuters)
3            3  Iraq Halts Oil Exports from Main Southern Pipe...
4            3  Oil prices soar to all-time record, posing new...
5            3        Stocks End Up, But Near Year Lows (Reuters)
6            3               Money Funds Fell in Latest Week (AP)
7            3  Fed minutes show dissent over inflation (USATO...
8            3                            Safety Net (Forbes.com)
9            3            Wall St. Bears Claw Back Into the Black

                                         Description
0  Reuters - Short-sellers, Wall Street's dwindli...
1  Reuters - Private investment firm Carlyle Grou...
2  Reuters - Soaring crude prices plus worries\ab...
3  Reuters - Authorities have halted oil export\f...
4  AFP - Tearaway world oil prices, toppling reco...
5  Reuters - Stocks ended slightly higher on Frid...
6  AP - Assets of the nation's retail money marke...
7  USATODAY.com - Retail sales bounced back a bit...
8  Forbes.com - After earning a PH.D. in Sociolog...
9   NEW YORK (Reuters) - Short-sellers, Wall Stre...

In [8]:
#Displaying the first 10 rows of the combined data frame
print(merged_df.tail(10))

        Class Index                                              Title  \
127590            2                               Saban hiring on hold
127591            1  Bosnian-Serb prime minister resigns in protest...
127592            1                   Historic Turkey-EU deal welcomed
127593            2    Mortaza strikes to lead superb Bangladesh rally
127594            1               Powell pushes diplomacy for N. Korea
127595            1                                   Around the world
127596            2                        Void is filled with Clement
127597            2                             Martinez leaves bitter
127598            3  5 of arthritis patients in Singapore take Bext...
127599            3                             EBay gets into rentals

                                              Description
127590  DAVIE - The Dolphins want Nick Saban, and the ...
127591  Canadian Press - BANJA LUKA, Bosnia-Herzegovin...
127592  The European Union's decision to hold entry ta...
127593  Paceman Mashrafe Mortaza claimed two prize sca...
127594  WASHINGTON -- Outgoing Secretary of State Coli...
127595  Ukrainian presidential candidate Viktor Yushch...
127596  With the supply of attractive pitching options...
127597  Like Roger Clemens did almost exactly eight ye...
127598  SINGAPORE : Doctors in the United States have ...
127599  EBay plans to buy the apartment and home renta...

In [10]:
#Checking for missing values
missing = merged_df.isnull().sum()

In [11]:
print(missing)

Class Index    0
Title          0
Description    0
dtype: int64

In [12]:
#Dropping rows with missing values
merged_df = merged_df.dropna()

In [14]:
#Remove columns that are not required
#All columns are necessary, so I am skipping this step

In [15]:
#Shape of the combined dataframe
print(merged_df.shape)

(127600, 3)

In [16]:
#Removing first 10 rows
merged_df = merged_df.iloc[10:]

In [18]:
#Shape of the modified df
print(merged_df.shape)

(127590, 3)

In [19]:
#Random shuffling of df
merged_df = merged_df.sample(frac=1).reset_index(drop=True)
print(merged_df)

        Class Index                                              Title  \
0                 2                     Beckham doubt for Poland clash
1                 3                Most Hospitals Posting Data on Care
2                 2       Phelps, U.S. Win Men's 4x200 Freestyle Relay
3                 3                    SF investment adviser penalized
4                 3                  Lenovo confirms acquisition talks
...             ...                                                ...
127585            2          Couch, Gildon, Levens Among NFL Cuts (AP)
127586            1  Sharon, now a dear old softy, can only detract...
127587            3        America West won #39;t bid for ATA Airlines
127588            1      Bean Poses Re-Election Dilemma for Crane (AP)
127589            4                            Yahoo Buying Musicmatch

                                              Description
0       David Beckham has only 48 hours to recover fro...
1       More than 98 percent of hospitals in the Unite...
2        ATHENS (Reuters) - Michael Phelps led the Uni...
3       A San Francisco investment adviser for mutual ...
4       CHINA #39;S largest manufacturer of personal c...
...                                                   ...
127585  AP - Tim Couch's stay in Green Bay was short a...
127586  Israeli Prime Minister Ariel Sharon is not kno...
127587  America West Airlines, which has been consider...
127588  AP - Melissa Bean hands out seat cushions that...
127589  Yahoo Inc. (YHOO) is buying online jukebox pro...

[127590 rows x 3 columns]

In [20]:
#Splitting the merged df into training and testing sets (using a 80:20 ratio)
train_len = int(0.8* len(merged_df))
new_train_df = merged_df[:train_len]
new_test_df = merged_df[train_len:]

In [21]:
#Printing the new shapes
print(f"New shape of training dataframe is {new_train_df.shape}")
print(f"New shape of testing dataframe is {new_test_df.shape}")

New shape of training dataframe is (102072, 3)
New shape of testing dataframe is (25518, 3)